VITE_FIREBASE_API_KEY=AIzaSyCWVUK8SQCdks_yz3GsZM0wFYL8v2WfK2Q
VITE_FIREBASE_AUTH_DOMAIN=workload-hub-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=workload-hub-2026
VITE_FIREBASE_APP_ID=1:884468919141:web:89e9d88027be3b520c4f8c
AUTHORIZED_EMAIL=imchrystal@gmail.com
